<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qudi.dao.GoodsDetailsDao">

	<resultMap type="com.qudi.bean.GoodsDetails"
		id="goodsDetails">
		<id column="details_id" property="detailsId" />
		<result column="details_describe" property="detailsDescribe" />
		<result column="goods_id" property="goodsId" />
		<result column="create_time" property="createTime" />
	</resultMap>


	<insert id="addDetails">
		insert into goods_details
		(details_describe,goods_id)values(#{detailsDescribe},#{goodsId})
	</insert>

	<select id="querydetails" resultMap="goodsDetails">
		select
		details_id,details_describe,goods_id,create_time from goods_details
		where goods_id=#{goodsId}
	</select>

	<update id="updatedetails">
		update goods_details set
		details_describe=#{detailsDescribe} where goods_id=#{goodsId}
	</update>

	<delete id="delete">
		delete from goods_details where goods_id=#{goodsId}
	</delete>

</mapper>